[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-summernote = {ref = "702b574920342766f56262725d87125719156878", git = "https://github.com/summernote/django-summernote.git"}
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
